* {
    box-sizing: border-box;
}

body {
    background: #fc4856;
}

.container {
    height: 100vh;
    padding: 20px;
    margin: 20px auto;
    background: #fffdaf;
    display: flexbox;
}

.button-container {
    width: 100%;
    margin: 0 auto;
    display: flexbox;
 
}


button {
    background-color: #fc6666;
    color: whitesmoke;
    border: solid 3px #ffcb08;
    margin: 5px 20px;
    border-radius: 25px;
    padding: 6px 8px;
    /* display: inline-flex; */
    /* flex-wrap: wrap; */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}