* {
    box-sizing: border-box;
}

body {
    background: #21291c;
    /* background: #3e3e3e; */
}

.container {
    min-height: 100vh;
    padding: 20px;
    margin: 25px auto;
    background: black;
}

.button-container {
    width: 100%;
    margin: 10px auto 20px;
    display: flexbox;
}

button {
    background-color: black;
    color: #ffcb08;
    border: solid 2.5px #3e3e3e;
    margin: 5px 20px;
    border-radius: 25px;
    padding: 6px 8px;
    font-size: 20px;
}

.image-container {
    padding: 10px;
    
    /* this is done by bootstrap by changing the class of image-container
    display: flex;
    flex-wrap: wrap; */
}

figure {
    padding: 10px 30px 10px 5px;
}

figcaption {
    color: #389;
}

label {
    color: #389;
}

footer {
    /* position: fixed; */
    /* left: 0;
    bottom: 0; */
    width: 100%;
    text-align: center;
}

#giphy-logo {
    box-shadow: none;
}


/*========== ANIMATION/EFFECTS ========== */
button:hover {
    background-color: #3e3e3e;
    border: 3px solid #ffcb08;
    /* border-radius: 25px; */
}

button:active{
    background-color: #3e3e3e;
    border: 3px solid #ffcb08;
}

img:hover {
    box-shadow: 10px -10px 10px #798, -10px -10px 10px #798;    
}

