* {
    box-sizing: border-box;
}

body {
    background: #21291c;
    /* background: #3e3e3e; */
}

.container {
    height: 100vh;
    padding: 20px;
    margin: 25px auto;
    /* background: #3e3e3e; */
    background: black;
    display: flexbox;
}

.button-container {
    width: 100%;
    margin: 0 auto;
    display: flexbox;
 
}


button {
    background-color: black;
    /* color: whitesmoke; */
    color: #ffcb08;
    /* border: solid 1.5px #ffcb08; */
    border: solid 1.5px #3e3e3e;
    margin: 5px 20px;
    border-radius: 25px;
    padding: 6px 8px;
    /* display: inline-flex; */
    /* flex-wrap: wrap; */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}